<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.metroui.org.ua/current/metro.css"
    />
    <link
      href="https://cdn.metroui.org.ua/current/icons.css"
      rel="stylesheet"
    />
    <style>
      .wrapper {
        padding: 180px 100px;
      }
    </style>
  </head>
  <body>
    <div style="padding-left: 100px" data-role="appbar">
      <h1>tally <small>book</small></h1>
      <a href="/create">
        <img
          class="ml-5"
          width="150"
          height="150"
          src="/images/write.jpg"
          alt="去记账"
        />
      </a>
    </div>
    <div class="wrapper container-fluid">
      <table class="table table-border cell-border">
        <thead>
          <tr class="info">
            <th></th>
            <th>事项</th>
            <th>收支明细</th>
            <th width="150">操作</th>
          </tr>
        </thead>
        <tbody>
          <% lists.forEach((item, index) => { %>
          <tr class="yellow">
            <td><%= index + 1 %></td>
            <td><%= item.thing %></td>
            <td>
              <span class="tally mr-10"><%= item.money %></span>
              <button
                class="button <%= item.select === '1' ? 'info' : 'warning' %>"
              >
                <%= item.select === '1' ? '收入' : '支出' %>
              </button>
            </td>
            <td>
              <span>
                <!-- dialog -->
                <div
                  class="dialog"
                  data-role="dialog"
                  id="demoDialog<%= index %>"
                >
                  <div class="dialog-title">事件明细</div>
                  <div class="dialog-content">
                    标题: <%= item.thing %> <br />
                    时间: <%= item.date %> <br />
                    描述： <%= item.descrip %> <br />
                  </div>
                  <div class="dialog-actions">
                    <!-- <button class="button js-dialog-close"></button> -->
                    <button class="button primary js-dialog-close">
                      知道了
                    </button>
                  </div>
                </div>
                <!-- <button class="button primary"
                  onclick="Metro.dialog.open('#demoDialog1')">Open dialog</button> -->
                <button
                  onclick="Metro.dialog.open('#demoDialog<%= index %>')"
                  class="button primary cycle mr-2"
                >
                  <span class="mif-info1"></span>
                </button>

                <a href="/account/<%= item.id %>">
                  <button
                    id="delete-button-<%= index %>"
                    onclick="deleteItem(this, '<%= JSON.stringify(item) %>')"
                    value="<%- JSON.stringify(item) %>"
                    class="button cycle warning"
                  >
                    <span class="mif-bin"></span>
                  </button>
                </a>
              </span>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
    <script>
      // 如何传递object过来？？？
      function deleteItem(el, item) {
        // const value = $(`#delete-button-${index}`).attr('value')
        console.log(item);
      }
      // $('#delete').on("click", function(e){
      //   console.log(e);
      // });
      // 优化dialog
      // console.log('23423', '<%= lists.map(item => item.thing) %>');
    </script>
  </body>
</html>
